@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

*{
  font-family: 'Catamaran', sans-serif;
}

html{
  margin: 0;
}

body{
  margin: 0;
}

.container{
  align-items: center;
  margin: auto;
  max-width: 1440px;
}

.header{
  background: #00466F;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  &__logo{
    display: flex;
  }
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: 50px;
  background: #FF7800;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffff;
  font-weight: 700;
  font-size: 14px;
  border-color: transparent;
}

.menu {
  display: flex;
  align-items: center;
  &__items {
    display: flex;
    align-items: center;
  }
  &__item {
    list-style: none;
    margin-right: 20px;
  }
  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }

  &__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__login{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 30px;
    gap: 5px;
  }

  &__login span{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FDC420;
  }
}

.start-screen{
  // display: flex;
  // justify-content: center;
  padding-top: 1px;
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
  padding-bottom: 60px;
  &__box {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
  }
  &__owl-img{
    display: flex;
    // width: 480px;
    // height: 400px;
    flex: none;
    // order: 1;
    flex-grow: 0;
  }

  .text{
    width: 670px;
    height: 165px;
    // font-family: 'Catamaran';
    // font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    flex: none;
    // order: 0;
    // align-self: stretch;
    // flex-grow: 0;
  }

  .highlited-txt{
    color: #FDC420;
  }
  
  .form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // width: 670px;
    // height: 135px;
    background: #00466F;
    border-radius: 6px;
    flex: none;
    // order: 1;
    align-self: stretch;
    flex-grow: 0;
  
    &__text{
      width: 630px;
      height: 30px;
      font-family: 'Catamaran';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
      opacity: 0.5;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      margin: 15px auto 20px auto;
    }
  
    &__input{
      box-sizing: border-box;
      display: flex;
      padding: 15px;
      gap: 10px;
      width: 208.5px;
      height: 50px;
      background: #F2F9FF;
      border: 1px solid #E6F2FF;
      border-radius: 5px;
      flex: none;
      // order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
  
    &__form{
      display: flex;
      flex-direction: row;
      gap: 10px;
      text-align: center;
      margin: 20px auto 0px auto;
    }
  
    &__start-btn{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 193px;
      height: 50px;
      background: #FF7800;
      border-radius: 5px;
      // order: 2;
      flex-grow: 0;
      text-transform: uppercase;
      color: #ffff;
    }
  }
}

.navmidpage{
  background: #E6F2FF;
  .container{
    display: flex;
    justify-content: space-between;
    // width: 1440px;
    height: 70px;
    // flex: none;
    // order: 2;
    // align-self: stretch;
    // flex-grow: 0;
    // z-index: 2;
  }

  &__button{
    // margin-bottom: 10px;
    display: flex;
    width: 220.08px;
    flex-direction: column;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__button--home{
    margin-top: 15px;
    display: flex;
    width: 149.67px;
    // height: 55px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 3px solid #1799E5;
  }

  a{
    // margin: 10px 0 0 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: #00466F;
    // flex: none;
    // order: 1;
    // align-self: stretch;
    // flex-grow: 0;
  }

  // img{
  //   margin: 15px 0 0 0;
  // }
}

.rating{

  .container{
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
    display: flex;
    // flex-direction: row;
    justify-content: space-around;
  }

  .rating__website{
    display: flex;
    // flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 200px;
    // height: 55px;
  }

  .rating__website--icon{
    padding: 0;
    margin: 0;
    height: 30px;
  }

  .rating__website--link{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1799E5;
  }

  .rating__website--points{
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #00466F;
  }
}

.title{
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #00466F;
}

.chose-writer{

  .writers-list{
    display: flex;
    // gap: 30px;
    justify-content: space-around;
  }

  .writer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 323.33px;
    height: 460px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 70, 111, 0.15);
    border-radius: 7px;

    &__name-section{
      display: flex;
      flex-direction: row;
      gap: 15px;
      border-bottom: 1px solid #DFE6EB;
      padding-bottom: 15px;
      width: 100%;
    }

    &__name-section_name{
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      color: #00466F;
      margin: 0;
    }

    .compl-order{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #222526;
      margin: 0px 5px 0px 0px;

      span{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #222526;
      }
    }

    &__rating-container{
      display: flex;
      margin: 0;
      gap: 10px;

      &_num{
        display: flex;
        gap: 5px;
        margin: 0;
      }
    }

    &__rating{
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #00466F;
      margin: 0;
    }

    &__num-rating{
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #737B80;
      margin: 0;
    }

    &__topic{
      margin-left: auto;
      margin-right: auto;
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      color: #00466F;
    }

    &__essay-info{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__info-section{
      padding: 0px;
      width: 143.33px;
      height: 35px;
    }

    &__info-section--double{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      width: 143.33px;
      height: 35px;
    }

    &__essay-style{
      width: 66.67px;
      height: 35px;
    }

    &__essay-src{
      width: 66.67px;
      height: 35px;
    }

    &__hdr-info{
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #ACB8BF;
      margin: 0;
    }

    &__main-info{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #222526;
      margin: 0;
    }

    &__essay{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }

    &__essay-sect{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      isolation: isolate;
      width: 125px;
      height: 180px;

      // a{
      //   position: fixed;
      //   width: 408px;
      //   height: 135px;
      //   left: 19.5px;
      //   bottom: 8px;
      //   font-weight: 400;
      //   font-size: 14px;
      //   // line-height: 20px;
      //   text-align: center;
      //   // text-decoration-line: underline;
      //   color: #1799E5;
      // }
    }

    &__btn{
      width: 283.33px;
      height: 50px;
    }
  }

  &__pages{
    display: block;
    // justify-content: space-around;
    margin: 30px auto 60px auto;
    text-align: center;
    align-items: center;
  }

}

.reviews{
  background: #F2F9FF;

  .container{
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    // background: #F2F9FF;
  }

  &__user{
    gap: 5px;
  }

  &__user-id{
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #00466F;
    margin: 0;
  }

  &__date{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ACB8BF;
    margin: 0;
  }

  &__title{
    margin: 60px auto 30px auto;
  }

  .rating{
    .container{
      display: flex;
      flex-direction: row;
      gap: 80px;
    }
  }
  &__user-review{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
    isolation: isolate;
    width: 800px;
    height: 215px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 70, 111, 0.15);
    border-radius: 7px;
  }
  
  .review{
    &__info{
      display: flex;
      justify-content: space-between;
    }

    &__rating{
      display: flex;
      height: 20px;
      gap: 16.45px;
    }
    
    &__verified{
      display: flex;
      gap: 6.25px;
    }

    .verified{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      color: #61AC42;
    }

    &__text{
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #222526;
    }
  }

  &__order{
    margin: 30px 0 60px 0;
  }
}

.how-to{

  .title{
    margin: 60px 0 0 0;
  }

  &__steps{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 0;
  }

  &__step{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 270px;
    // height: 280px;
    text-align: center;
  }

  p{
    margin: 0;
  }

  &__find-wr{
    display: flex;
    margin: 0 auto 75px auto;
  }
}

.payments{
  display: flex;
  flex-direction: row;
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);

  .container{
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    // justify-content: space-between;
  }

  &__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 742px;
    margin: 60px 108px 60px 0;
    // height: 135px;
  }

  &__explore{
    width: 320px;
  }

  &__header{
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0;
  }

  &__text-inf{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
  }

  &__methods{
    margin: 30px 0 0 0;
    height: 30px;
  }

}