@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

.container{
  display: flex;
  font-family: 'Catamaran', sans-serif;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  position: relative;
  // max-width: 1440px;
  // width: 1440px;
  height: 6650px;
  background: #FFFFFF;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 135px;
  gap: 322px;
  background: #00466F;
  width: 1440px;
  height: Hug (70px);
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
  
  &__logo{
    width: 165px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;

    &_image{
      width: 37.5px;
      height: 40px;
      left: 1.25px;
      vertical-align: middle;
    }

    &_text{
      vertical-align: middle;
    }

  }
  
  &__navbar{
    // margin-left: 595px;
    // margin-top: 27.5px;
    // margin-bottom: 27.5px;
    // margin-right: 686px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 437px;
    height: 15px;
  }
  
  &__link{
    // display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    
    width: 46px;
    height: 15px;
    font-family: 'Catamaran', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    
    // margin: 0px 40px 0px 40px;
  }
  
  &__list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 437px;
    height: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  &__list_item{
    list-style-type: none;
  }
  
  &__link_login{
    width: 45px;
    height: 20px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FDC420;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
  
  }
  
  &__link_ordernow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 83px;
    height: 20px;
    background: #FF7800;
    border-radius: 5px;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

}

.start-screen{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 60px 135px;
  gap: 20px;
  width: 1440px;
  height: 520px;
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;

  &__info_text{
    width: 670px;
    height: 165px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  width: 670px;
  height: 135px;
  background: #00466F;
  border-radius: 6px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  &__form_select{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;
    width: 208.5px;
    height: 50px;
     background: #F2F9FF;
    border: 1px solid #E6F2FF;
    border-radius: 5px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  &__form_email{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;
    width: 208.5px;
    height: 50px;
    background: #F2F9FF;
    border: 1px solid #E6F2FF;
    border-radius: 5px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  &__form_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 193px;
    height: 50px;
    background: #FF7800;
    border-radius: 5px;
    border-color: transparent;
    flex: none;
    order: 2;
    flex-grow: 0;
    
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.navmidpage{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 135px 0px;
  gap: 35px;
  width: 1440px;
  height: 70px;
  background: #E6F2FF;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;

  &__button_link{

    //add hover effect

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 149.67px;
    height: 45px;
    flex: none;
    order: 0;
    flex-grow: 0;

    width: 220.08px;
    height: 15px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #00466F;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    text-decoration: none;
  }
}

.rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 135px;
  gap: 80px;
  width: 1440px;
  height: 95px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  z-index: 3;

  &__website{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 204px;
    height: 55px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  // &__website_icon{
  //   // position: absolute;
  //   // left: 3.33%;
  //   // right: 3.33%;
  //   // top: 0%;
  //   // bottom: 0%;
  //   // background: linear-gradient(90deg, #1B99E5 -0.67%, #FDC420 100.67%);
  // }

  &__website_link{
    width: 60px;
    height: 20px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1799E5;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  &__website_points{
    width: 92px;
    height: 55px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #00466F;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
}

.chose-writer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 135px;
  gap: 30px;
  width: 1440px;
  height: 695px;
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  z-index: 4;

  &__text{
    width: 1170px;
    height: 40px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #00466F;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  &__writers{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 323.33px;
    height: 460px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 70, 111, 0.15);
    border-radius: 7px;
    flex: none;
    order: 1;
    flex-grow: 1;
  }

  &__writers_writer-card_header{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 15px;
      width: 283.33px;
      height: 80px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
  }

  &__writers_writer-card_header_name{
    width: 188.33px;
    height: 25px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #00466F;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}










